*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.img {
  background-image: url(img/564526c2-a025-4698-b7cf-7d5ac9d9eba1.jpg);
  width: 99%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;

}

.search-container {
  width: 70%;
  height: 36px;
  background-color: rgba(247, 248, 240, 0.882);
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  margin: 15px auto 15px auto;
}

.search-container form {
  display: flex;
  justify-content: center;
}

.search-container input[type=text] {
  outline: none;
  border: none;
  flex: 1;
  background-color: transparent;
  padding: 10px;
  font-size: 15px;
}

  
.search-container button {
  background-color: rgba(0, 0, 0, 0.157);
  border: none;
  color: #333;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  /* border-radius: px; */
}

.search-container button:hover {
  background-color: #ddd;
}

.fa-search {
  font-size: 20px;
  margin-right: 10px;

}

.categoria{
  background-color: black;
  display: flex;
  justify-content: space-around;
}
.categoria a{
  color: white;
  text-decoration: none;
  padding: 18px;
}

.dc:hover, .lançamentos:hover, .marvel:hover, .cat:hover{
  background-color: rgb(75, 168, 168);
}

.container{
  background-color: rgb(255, 251, 0);
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.sobre{
  text-decoration: none;
}

.redes_sociais{
  display: flex;
  gap: 15px;
}